<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <!--Taskbar Icon-->
    <link rel="shorcut icon" href="/Images/Logo Website Shortcut.png" />
    <title>Revolt Ent.</title>
  </head>

  <body>
    <nav
      id="MainNavbar"
      class="navbar navbar-dark navbar-expand-md py-0 px-4 fixed-top"
    >
      <a href="/" class="navbar-brand">
        <img
          src="/Images/Logo Website Shortcut.png"
          width="45"
          height="45"
          loading="lazy"
          alt=""
        />
        REVOLT
      </a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navLinks"
        aria-label="Toggle Navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
          <% if(!currentUser){ %>
          <li class="nav-item active">
            <a href="/" class="nav-link"
              >HOME <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">CONTACT</a>
          </li>
          <li class="nav-item">
            <a href="/FelledRoots" class="nav-link">FRMC</a>
          </li>
          <%} else {%>
          <li>
            <a href="/logout" class="nav-link">Logout</a>
          </li>
          <%}%>
        </ul>
      </div>
    </nav>
  </body>
</html>
