body{
    background-color: #212121;
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
}
#MainNavbar {
    font-size: 1.5rem;
}

#MainNavbar .nav-link{
    color: #e8e8e8;
}
#MainNavbar .nav-link:hover{
    color: #a03535;
}
#MainNavbar .navbar-brand{
    color: #a03535;
    font-size: 2rem;
    
}
.h1{
    color: #e8e8e8;
}
.navbar.scrolled{
    background: #212121;
    transition: background 500ms;
}

#headingImage{
    width: 15%;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
}
@media(max-width:1200px){
    #headingGroup .h1{
        font-size: 3rem;
    }
}
.Icon{
    font-size: 3rem;
}
#jumbo{
    background-color: #212121;
}
#JumboH1{
    background-color: #a03535;
}
#jumboBTN{
    background-color: #212121;
    border: 2px solid #a03535;
    color: #e8e8e8;
}
#jumboBTN:hover{
    background-color: #a03535;
}
#header{
    background:url("Images/FRMC.jpg") center center / cover no-repeat;
}








.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }

    #videoCont{
        width: 75%;
    }