<%- include("partials/head.ejs") %>

    


    <!--Jumbotron-->
    <div id="jumbo" class="jumbotron jumbotron-fluid">
        <img class="img-fluid" src="Images/FRMC.jpg" alt="">
        <div class="container text-center">


            <h1 id="JumboH1" class="display-4 my-4 py-3 text-center d-none d-lg-block">Felled Roots : Moribund Colchis
            </h1>
            <p class="lead text-center  my-4">This is a modified jumbotron that occupies the entire horizontal space of
                its parent.</p>
            <a id="jumboBTN" class="btn btn-lg" href="/FelledRoots" role="button">Learn more</a>
        </div>
    </div>


    <section class="container-fluid px-0 mb-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-center mt-5 d-none d-lg-block">
                    <!--<div id="headingImage" class="justify-content-center">
                        <img class = "img-fluid" src="Logo Hand Only Black-Red.png" alt="">
                    </div>
                    
                    <h1 class="text-center">Revolt Entertainment</h1>
                    -->
                    <div class="row justify-content-center">
                        <div class="col-lg-8 justify-content-center align-items-center text-center">
                            <img class="img-fluid" src="Images/Logo White-Red.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="Images/Img1.jpg" alt="">
            </div>
        </div>

    </section>

    <section class="container-fluid px-0 mb-5">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <img id="img" class="img-fluid" src="Images/maik-jonietz-22W93iChREU-unsplash.jpg" alt="">
            </div>
            <div class="col-lg-6 text-center order-1 order-lg-2">
                <div class="row justify-content-center">
                    <div class="col-lg-10 my-5 my-lg-0 mx-3 mx-lg-0">
                        <h2 id="about">Revolt Ent.</h2>
                        <span class="Icon"><i class="fas fa-gamepad"></i></span>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati velit
                            accusamus dolor minus repudiandae magnam iste perspiciatis! Corrupti, aliquam quo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid px-0 mb-5">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-10 my-5 my-lg-0 mx-3 mx-lg-0">
                        <h2 id="contact">Revolt Ent.</h2>
                        <span class="Icon"><i class="fas fa-id-card-alt"></i></span>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati velit
                            accusamus dolor minus repudiandae magnam iste perspiciatis! Corrupti, aliquam quo.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="Images/marko-blazevic-rMCwWG2kSyU-unsplash.jpg" alt="">
            </div>

        </div>

    </section>
    <%- include("partials/footer.ejs") %>
   