<form action="/FelledRoots" method="POST">
    <label for="ImageName">Name</label>
    <input type="text" name="Images[name]" id="ImageName"> 
    <label for="ImageSrc">src</label>   
    <input type="file" name="Images[Image]" id = "ImageSrc" accept="image/*">
    <input type="submit" value="Submit">
</form> 